body 
{
	font-family:Times New Roman;	
	margin:0px;
	padding:0px;
}

 .SelectedHeader
        { 
        	background-color:#CACACD;  
        	 text-align:center;
            color:Black;                       
             font-size:medium;   
            font-weight:bold;  
            height:25px;  
             cursor:pointer; 
               font-family:Verdana;             
            }      